:root {
  --button-height: 50px;
  --button-width: 50px;
  --canvas-size: 650px;
}

.canvas-container {
  height: var(--canvas-size);
  width: var(--canvas-size);
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--canvas-size);
  width: var(--canvas-size);
  position: absolute;
  top: -30px;
}
#buttons .button {
  width: var(--button-width);
  height: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  background-color: transparent;
  border: 1px solid transparent;
  color: transparent;
  --arrow-size: 100%;
  filter: hue-rotate(0deg) brightness(1.5) saturate(1.5) contrast(1.5);
}
#left {
  background: url("assets/imgs/left.png") no-repeat center;
  background-size: var(--arrow-size);
}
#right {
  background: url("assets/imgs/right.png") no-repeat center;
  background-size: var(--arrow-size);
}
#up {
  background: url("assets/imgs/up.png") no-repeat center;
  background-size: 150%;
}
#down {
  background: url("assets/imgs/down.png") no-repeat center;
  background-size: 95%;
}
#buttons .button:hover {
  filter: hue-rotate(100deg) brightness(1.5) saturate(1.5) contrast(1.5);
}
#buttons .button:active {
  content: "";
  border-radius: 50%;
  filter: hue-rotate(200deg) brightness(1.5) saturate(1.5) contrast(1.5)
    drop-shadow(0px 0px 10px #ffe70b);
}
#up-down-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#center {
  height: var(--button-height);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
